p.log {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

#container {
  display: flex;
  flex-direction: row;
}

.match {
  background-color: coral;
}

.dont-show {
  display: none;
}

.timerange {
  background-color: aqua;
}

.temp-timerange {
  background-color: greenyellow;
}

.sideways {
  background-color: #ffa500;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 0px;
  margin-right: 0px;
}
