.line {
  display: flex;
  flex-direction: row;

  :first-child {
    margin-right: 10px !important;
  }

  p {
    margin: 0px;
    font-family: "Courier New", Courier, monospace;
  }
}

p.log {
  width: 100%;
}

.match {
  background-color: coral;
}

.dont-show {
  display: none;
}

.timerange {
  background-color: aqua;
}

.temp-timerange {
  background-color: greenyellow;
}

.sideways {
  background-color: #ffa500;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 0px;
  margin-right: 0px;
}

.timerange-overview {
  display: flex;
  flex-direction: row;
  border: 2px black solid;

  p {
    margin: 0px 10px 0px 10px;
  }
}